<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>FBCD7885-A51A-4461-B2F2-F040A314AC15.playgroundpage</string>
		<string>sprites.playgroundpage</string>
		<string>7D5BC11C-8E3E-4362-BCC8-0D8246605D5A.playgroundpage</string>
	</array>
</dict>
</plist>
